<form class="contact-form">
  <h2 id="contactHeader">CONTACT US</h2>
  <p type="Name:" id="contactText"><input id="contactInput" placeholder="Write your name here.."></input></p>
  <p type="Email:" id="contactText"><input id="contactInput" placeholder="Let us know how to contact you back.."></input></p>
  <p type="Message:" id="contactText"><input id="contactInput" placeholder="What would you like to tell us.."></input></p>
  <button id="messageBtn">Send Message</button>
  <div id="company-info">
    <span id="companySpan" class="fa fa-phone"></span>001 1023 567
    <span id="companySpan" class="fa fa-envelope-o"></span> contact@skyfall.com
  </div>
</form>

  