
<div class="registration-form container">
        <form class="mb-3" style="border-radius: 30px;">
            <div class="form-icon">
                <span><i class="bi bi-send"></i></span>
            </div>
            <div class="input-group-lg">
                <label for="name" style="font-size: 28px;">Trip Name:</label>
                <input type="text" class="form-control item row" id="name">
            </div>
            <div class="input-group-lg">
                <div class="row">
                    <label for="start-date-trip" class="col-5" style="font-size: 24px">Start Date:</label>
                    <div class="col-1"></div>
                    <label for="end-date-trip" class="col-5" style="font-size: 24px">End Date:</label>
                </div>
                <div class="row justify-content-space-between">
                    <input type="date" id="start-date-trip" class="form-control item col-5"></input>
                    <div class="col-1"></div>
                    <input type="date" id="end-date-trip" class="form-control item col-5"></input>
                </div>
            </div>

        </form>
        <form class="mb-3" style="border-radius: 30px;">

            <div id="stops">

                <div id="stop-1" class="stop-form">
                    <div class="form-group">
                        <div class="row">
                            <label for="stop-name" style="font-size: 24px">Stop:</label>
                        </div>
                        <input type="text" id="stop-name-1" class="form-control row item col-12"></input>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="start-date-1" class="col-5">Start Date:</label>
                            <div class="col-1"></div>
                            <label for="end-date-1" class="col-5">End Date:</label>
                        </div>
                        <div class="row justify-content-space-between">
                            <input type="date" id="start-date-1" class="form-control item col-5"></input>
                            <div class="col-1"></div>
                            <input type="date" id="end-date-1" class="form-control item col-5"></input>
                        </div>
                    </div>
                    <label for="budget-1">Budget Breakdown:</label>

                    <div class="form-group">
                        <div class="row">
                            <label for="accomodation-1" class="col-5" style="font-size: 16px;">Accomodation:</label>
                            <div class="col-1"></div>
                            <label for="travel-costs-1" class="col-5" style="font-size: 16px;">Travel Costs:</label>
                        </div>
                        <div class="row justify-content-space-between">
                            <span>$</span><input type="number" id="accomodation-1" class="form-control item col-5" value=0></input>
                            <div class="col-1"></div>
                            <span>$</span><input type="number" id="travel-costs-1" class="form-control item col-5" value=0></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="food-1" class="col-5" style="font-size: 16px;">Food/Entertainment:</label>
                            <div class="col-1"></div>
                            <label for="other-1" class="col-5" style="font-size: 16px;">Other:</label>
                        </div>
                        <div class="row justify-content-space-between">
                            <span>$</span><input type="number" id="food-1" class="form-control item col-5" value=0></input>
                            <div class="col-1"></div>
                            <span>$</span><input type="number" id="other-1" class="form-control item col-5" value=0></input>
                        </div>
                    </div>
                </div>
                            
            </div>
            <div class="form-group">
                <button class="btn btn-block create-account" id="additional-stop" type="button">Add Stop</button>
                <button type="button" class="btn btn-block create-account" id="create-trip-button">Create Trip!</button>
            </div>
        </form>
    </div>



<script src="/js/newTrip.js"></script>