<form class="form new-trip-form">
<div class="form-group">
    <label for="location-name">Destination:</label>
    <input type="text" class="location-name"></input>
    <label for="date-arrival">Leaving Date:</label>
    <input type="date" class="date-arrival"></input>
    <label for="date-leaving">Return Date:</label>
    <input type="date" class="date-leaving"></input>
</div>
<div class="form-group">
    <label for="flight-price">Flight Price:</label>
    <input type="number" class="flight-price"></input>
    <label for="food-price">Food Price:</label>
    <input type="number" class="food-price"></input>
    <label for="lodging-price">Lodging:</label>
    <input type="number" class="lodging-price"></input>
</div>

<div class="form-group">
    <button class="btn btn-primary trip-button" type="submit">Generate Trip</button>
</div>
</form>


<script src="/js/newTrip.js"></script>