{{!-- <div class="container">
    <form class="form" id="new-trip-form">
        <div id="main" class="form-group" style="font-size:large">
            <label for="name">Trip Name:</label>
            <input type="text" class="input-lg col-2" id="name"></input>

            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date"></input>

            <label for="end-date">End Date:</label>
            <input type="date" id="end-date"></input>
        </div>

        <hr>
        
        <div id="stops">
            <div class="form-group-stop">
                <label for="stop-name">Stop:</label>
                <input type="text" id="stop-name-1"></input>

                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date-1"></input>

                <label for="end-date">End Date:</label>
                <input type="date" id="end-date-1"></input>

                <label for="budget">Budget:</label>
                <span>$</span>
                <input type="number" id="budget-1" value="0"></input>
                <span>.00</span>
            </div>
        </div>
        <div style="display: flex;">
            <button class="btn btn-primary" id="additional-stop" type="button">Add Stop</button>
            <button class="btn btn-primary" id="create-trip-button" type="button" style="float: right;">Generate Trip</button>
        </div>
    </form>
</div>  --}}

<div class="registration-form">
        <form>
            <div class="form-icon">
                <span><i class="bi bi-send"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="name" placeholder="Tripname">
            </div>
            <div class="form-group">
                <input type="date" class="form-control item" id="start-date"></input>
            </div>
            <div class="form-group">
                <input type="date" class="form-control item" id="end-date"></input>
            </div>

            <hr>

            <div id="stops">
                <div class="form-group">
                    <label for="stop-name">Stop:</label>
                    <input type="text" id="stop-name-1" class="form-control item"></input>

                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date-1" class="form-control item"></input>

                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date-1" class="form-control item"></input>

                    <label for="budget">Budget:</label>
                    <span>$</span>
                    <input type="number" id="budget-1" class="form-control item"></input>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-block create-account" id="additional-stop" type="button">Add stop</button>
                <button type="button" class="btn btn-block create-account" id="create-trip-button">Create a Trip</button>
            </div>
        </form>
    </div>



<script src="/js/newTrip.js"></script>