<form class="form new-trip-form">
    <label for="name">Trip Name:</label>
    <input type="text" class="name"></input>
<div class="form-group">
    <label for="destination-name">Destination:</label>
    <input type="text" class="destination-name"></input>
    <label for="date-arrival">Leaving Date:</label>
    <input type="date" class="date-arrival"></input>
    <label for="date-leaving">Return Date:</label>
    <input type="date" class="date-leaving"></input>
</div>
<div class="form-group">
    <label for="flight-price">Flight Price:</label>
    <input type="number" class="flight-price"></input>
    <label for="food-price">Food Price:</label>
    <input type="number" class="food-price"></input>
    <label for="lodging-price">Lodging:</label>
    <input type="number" class="lodging-price"></input>
</div>
<ul class="extras-list">
    <li>
        <label for="flight-price">Extra Activity:</label>
        <input type="text"></input>
        <label for="flight-price">Extra Price:</label>
        <input type="number"></input>
    </li>
</ul>
<div class="form-group">
    <input class="btn btn-primary create-trip-button" type="button">Generate Trip</input>
</div>
</form>


<script src="/js/newTrip.js"></script>