<form id = 'new-trip-form'>
    <input type="text" class="location-name"></input>
    <input type="date" class="date-arrival"></input>
    <input type="date" class="date-leaving"></input>
    <input type="number" class="flight-price"></input>
    <input type="number" class="food-price"></input>
    <input type="number" class="lodging-price"></input>
    <td colspan='2'><input type='submit' id='tripButton'/>Generate Trip</td>
</form>

<script src="/js/newTrip.js"></script>