<form class="form new-trip-form">
    <input type="text" class="location-name"></input>
    <input type="date" class="date-arrival"></input>
    <input type="date" class="date-leaving"></input>
    <input type="number" class="flight-price"></input>
    <input type="number" class="food-price"></input>
    <input type="number" class="lodging-price"></input>
    <input type='submit' class='tripButton btn'/>Generate Trip</input>
</form>

<script src="/js/newTrip.js"></script>