<div class="container">

  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-lg btn-block" type="button" id="generate-new-trip"><a href="/dashboard/trip/new">Add Trip</a></button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{#each userData.Trips}}
        <div class="card">
          <h5 class="card-header">{{name}}</h5>
          <div class="card-body">
            <p class="budget card-text">{{budget}}</p>
            <a href="/dashboard/trip/{{id}}" class="btn btn-primary">View Trip</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>