<div class="container">

  <div class="row">
    <div class="col">
      <div class=" flex-row justify-center">
        <button class="button-73" role="button"><a href="/dashboard/trip/new">➕ Add Trip</a></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{#each userData.Trips}}
        <div class="card trip-card">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{budget}}</p>
                <a href="/dashboard/trip/{{id}}" class="btn btn-primary">View Trip</a>
                <button class='btn delete-trip-button btn-primary' type="click" id="{{id}}">Delete Trip</button>
              </div>
            </div>
      {{/each}}
    </div>
  </div>
</div>
            
<script src="/js/deleteTrip.js"></script>

{{!-- password: skyfallAPI --}}