<div class="container">

  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-lg btn-block" type="button" id="generate-new-trip"><a href="/dashboard/trip/new">Add Trip</a></button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{#each userData.Trips}}
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{budget}}</p>
                <a href="/dashboard/trip/{{id}}" class="btn btn-primary">View Trip</a>
                <button class='btn delete-trip-button' type="click" id="{{id}}">Delete Trip</button>
              </div>
            </div>
      {{/each}}
    </div>
  </div>
</div>
            
<script src="/js/trip-delete.js"></script>
