<div class="container">
  <div>
  <ul>
    {{#each User.Trips}}
    <li>
      <div class="card">
        <h5 class="card-header">{{name}}</h5>
        <div class="card-body">
          <p class="card-text">{{budget}}</p>
          <a href="/dashboard/trip/{{id}}" class="btn btn-primary">View Trip</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" type="button"><a href="/api/trip/newtrip">Add Trip</a></button>
    </div>
  </div>
</div>
