@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container-fluid > h3 {
  text-align: center;
  color: whitesmoke;
}

.bg-cover {
  background-size: cover !important;
}
.jumbo-main {
  background-image: url(/assets/japan.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  /* background-attachment: fixed; */
  background-position: center;
  padding: 4rem 2rem;
}

.trip-view-jumbo {
  /* margin: 15px 30px 0px 30px; */
  border-radius: 10px;
  background-image: linear-gradient(
      rgba(0, 0, 250, 0.25),
      rgba(125, 250, 250, 0.45)
    ),
    url(https://source.unsplash.com/1600x1050/?nature);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke !important;
  font-weight: bold;
  height: 340px;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

.main-content {
  width: 80%;
  max-width: 1280px;
  margin: 0px auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: /*linear-gradient(
      115deg,
      rgba(211, 184, 184, 0.8),
      rgba(235, 235, 253, 0.7)
    ), */ url("/assets/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 80%;
}

.bg-white {
  border-radius: 15px;
}

/* CSS button*/
.button-73 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.button-73:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
  .accordian-body {
    text-align: center;
  }
}

/* navbar css */
.navbar {
  background: whitesmoke;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
  margin-bottom: 3px;
  margin-top: 5px
}

.navbar-toggler {
  background: #fff;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: skyblue;
} 

.nav-content {
  margin-top: 1%;
}

/* carousel styling */ 
.carousel {
  margin: 20px auto;
}
.carousel-item {
  max-height: 45vh;
  background: no-repeat center center scroll;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background: contain;  
  width: 100%; 
}

.carousel-caption {
  margin: 0 auto;
  text-align: center;
}

.carousel-caption h5 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px; 
}
@media screen and (max-width: 375px) {
  .carousel-caption h5 {
    font-size: 1rem;
  }
}

.carousel-caption p {
  margin: 0 auto;
  width: 75%;
  font-size: 1rem;
  line-height: 1.9;
}



footer {
  background: whitesmoke;
  position: relative;
}

.main{
   margin-top: 15px;
   margin-bottom: 15px;
   min-height: 600px;
}



.copyright {
  background: whitesmoke;
}

.nav-link {
  font-size: 20px;
}

.login {
  height: fit-content;
}

/* create trips/stops form styling */
.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

h5 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

hr {
  width: 60%;
  margin: 20px auto;
}

.card-link {
  text-decoration: none;
  color: black;
}

.h3 {
  color: whitesmoke; 
  text-align: center;
}

main{
  margin-bottom: 15px;
}

/* carousel content styling */
.city-name{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}

.weather-card.card{
  display: flex; 
  margin: 15px 0;
  font-size: 1.5rem;
  min-width: 75%;
  max-width: 75%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background:linear-gradient(
    rgba(218, 216, 211, 0.841) 35%,
    rgb(231, 231, 226) 100%
    rgba(117, 117, 115, 0.633) 0%,
  );
}

.card-img-top{
  max-width: 20%;
}

.weather-card.row{
  min-width: 5%;
}

.weather-card> .card-body{
  margin: 0;
  padding: 1% 0;
  min-width: 50%;
  max-width: 50%;
}
.weather-card> p{
  padding: 0;
  
}


.bi-signpost-split::before, .bi-calendar-plus::before {
  transform: translateY(30px);
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 6px);
}

.chart-container {
  margin: 0 auto 0 0;
}

@media screen and (max-width: 340px) {
  body {
    text-align: center;
  }

  .jumbo-btn {
    margin-left: 0;
  }
}

.trip-card {
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  opacity: 80%;
  margin: 0 auto 10px;
  text-align: center;
}


.dashboardJumbo {
  background-image: url(/assets/travel.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 30px;
  width: 100%;
  margin: 15px auto;
}

.card-text {
  text-align: center;
}

.city-name{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}
.weather-card.card{
  display: flex; 
  margin: 15px 0;
  font-size: 1.5rem;
  min-width: 75%;
  max-width: 75%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
}
.card-img-top{
  max-width: 50%;
}
.weather-card.row{
  min-width: 5%;
}
.weather-card> .card-body{
  margin: 1% 2%;
  padding: 1%;
  min-width: 75%;
  max-width: 75%;
}
.weather-card> p{
  padding: 0;
}
.weather-card {
  background: linear-gradient(
    #b4d9ed,
    #80cdf0,
    #4eb7ec
  );
}

.nav-item:hover {
  border-bottom: 2px solid skyblue;
  margin: -1px;
}


a:hover{
  text-decoration: none;
}

.card {
  min-height: 140px;
}

.headerContent {
  margin: 50px auto;
}

.title{
  font-weight: bold;
}


.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff */
}

.logo {
  width: 80px;
  margin: auto
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
  color: #555
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px
}

.wrapper .btn:hover {
  background-color: #039BE5
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4
}

.wrapper a:hover {
  color: #039BE5
}

@media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px
  }
}

/* contact form styling  */
.contact-form {
  width: 500px;
  height: 500px;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

#contactHeader {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color:skyblue;
  border-bottom: 3px solid skyblue;
}


#contactInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

#contactInput:focus {
  border-bottom: 2px solid #3232bb;
}

#contactText:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

#messageBtn {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
#messageBtn:hover {
  background: #78788c;
  color: #fff;
}

#company-info {
  content: "Hi";
  position: absolute;
  bottom: -30px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

#companySpan {
  margin: 0 5px 0 15px;
}
