@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
  font-family: "Alegreya Sans", sans-serif;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box
}

.jumbotron {
  background-image: url('/assets/R.jpg');
  background-size: cover;
  height: 50vh;
}

.trip-view-jumbo {
  /* margin: 15px 30px 0px 30px; */
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://source.unsplash.com/1600x1050/?nature);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white !important;
  height: 340px;
}

li {
  list-style: none;
}

h3 {
  text-align: center;
}

ul {
  margin: 0 auto;
}

html{
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 2% auto;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
   background-image: /*linear-gradient(
      115deg,
      rgba(211, 184, 184, 0.8),
      rgba(235, 235, 253, 0.7)
    ), */
    url("/assets/wp2394308.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 80%;
}

.navbar-brand {
  font-size: 1000px;
}

footer {
  background: none;
}

.bg-white {
  border-radius: 15px;
}