<div class="container py-5">
   <div class="col-lg-8 mx-auto">

      <div class="card mb-4">
        <div class="card-body p-5">
          <h4 class="mb-4">About Us</h4>
          <div class="custom-scrollbar-css p-2">
            <p class="font-italic">SkyFall is a modern and intuitive travel planning site that allows users to schedule and budget their next vacation.</p>
            <p> With our budgeting tool, weather tracker, and links to multiple hotel and transportations sites, struggling to plan is a thing of the past.</p>
          </div>
          <h4 class="mb-4">Our Team</h4>
          <div class="custom-scrollbar-css p-2">
              <h5>Takara Truong</h5>
            <p class="font-italic">Recent Univerity of Washington Biochemistry graduate switching to software and web development industry.</p>
            <p class="font-italic">Favorite hobbies are snowboading, tennis, and playing computer games.</p>
            <p class="font-italic">Github:  <a href="https://github.com/truont2">https://github.com/truont2</a></p>
            <p class="font-italic">Email: <a href=:"mailto:truont2@gmail.com" >truont2@gmail.com</a></p>
              <h5>Mariah Marsolek</h5>
            <p class="font-italic">After being a former employee of the airline industry and programing in my free time, I have recently started programming fulltime.</p>
            <p class="font-italic">Favorite hobbies are baking, gardening, and playing DnD.</p>
            <p class="font-italic">Github:  <a href="https://github.com/MMarsolek">https://github.com/MMarsolek</a></p>
            <p class="font-italic">Email: <a href=:"mailto:mamarsolek@gmail.com" >mamarsolek@gmail.com</a></p>
              <h5>Henry Weigand</h5>
            <p class="font-italic">Recent Univerity of Washington Civil Engineering graduate hoping to break into the web development world.</p>
            <p class="font-italic">Favorite hobbies are soccer, video games, and winning pub trivia competitions!</p>
            <p class="font-italic">Github:  <a href="https://github.com/hcweigand10">https://github.com/hcweigand10</a></p>
            <p class="font-italic">Email: <a href=:"mailto:henryweigand10@gmail.com" >henryweigand10@gmail.com</a></p>
          </div>
        </div>
      </div>
</div>